

* {
    font-size: 16px;
}


:root {
    --backgroundColor1: black;
    --styleColor1: orange;
    --styleColor2: red;
    --color1: rgba(0, 16, 17, 1);
    --color2: rgba(9, 58, 62, 1);
    --color3: rgba(58, 175, 185, 1);
    --color4: rgba(100, 233, 238, 1);
    --color5: rgba(151, 200, 235, 1);
    }
    


/* The header will be fixed to to top to improve navigation */

header {
    background-color: var(--backgroundColor1);
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-image: url("");
    align-items: center;
    position: fixed;
    top: -5px;
    width: 100%;
    z-index: 1;
}

nav {
    margin: 0 3%;
}


nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  height: 100%;
}

nav ul a {
    text-decoration: none;
    color:azure;
    height: 100%;
    font-family: Righteous;
}

nav ul a:hover {
    color: var(--styleColor2)
}

/* This is the QD logo at the top left corner of the our fixed header */

.logo-container {
    height: 100%
}

.logo {
    max-width:100%;
    max-height:100%;
    
}
