

* {
    font-size: 16px;
}


:root {
    --backgroundColor1: black;
    --styleColor1: orange;
    --styleColor2: red;
    --color1: rgba(0, 16, 17, 1);
    --color2: rgba(9, 58, 62, 1);
    --color3: rgba(58, 175, 185, 1);
    --color4: rgba(100, 233, 238, 1);
    --color5: rgba(151, 200, 235, 1);
    }
    
h2 {
    font-family: Orbitron;
    font-size: 32px;
    text-align: center;
    margin: 35px 0px;
    color: var(--color3)
}

/* The header will be fixed to to top to improve navigation */

header {
    background-color: var(--backgroundColor1);
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-image: url("");
    align-items: center;
    position: fixed;
    top: -5px;
    width: 100%;
    z-index: 1;
}

nav {
    margin: 0 3%;
}


nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  height: 100%;
}

nav ul a {
    text-decoration: none;
    color:azure;
    height: 100%;
    font-family: Righteous;
}

nav ul a:hover {
    color: var(--styleColor2)
}

/* This is the QD logo at the top left corner of the our fixed header */

.logo-container {
    height: 100%
}

.logo {
    max-width:100%;
    max-height:100%;
    
}

/* Getting into the body's main section */

main {
    position: relative;
    top: 150px;
}




.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* This aspect of the about section should be on the left side contained in a bubble */

.about-content {
    width: 50%;
    margin: 0 30px;
    display: flex;
    align-items: center;
    height: 1100px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    box-shadow: var(--color5);
    background-color: var(--color4);
    border-radius: 10%;
    border: 3px solid var(--color3) ;
    line-height: 1.5;
}

.about-content p, .about-content ul {
    margin: 2% 7%;
    font-family: 'Josefin Sans';
    color:whitesmoke;
}

.main-photo {
    max-width: 40%;
    display: inline-block;
    margin-left: 5%;
}

.main-photo img {
    max-width: 100%;
    max-height: 100%;
}

.inline {
    display: inline-block;
    max-width: 40%;
    margin-left: 15px;
}

.inline br {
    line-height: 300px;
}

.block {
    display: block;
    margin-top: 10px 15px;
}

.about-content{
    background-image: url('./images/stars.png');
    
}

/* This part of the about section should be on the right side and will be contained in a bubble */

.hobbies-container {
    background-image: url('./images/ryan-hutton-Jztmx9yqjBw-unsplash.jpg');
    background-position: center;
}

.hobbies-description {
   position: relative;
   bottom: 50px;
   margin: 0px 20px;
}

.hobbies-description h3{
   text-align: center;
}

.hobbies-container {
   padding: 15px 0;
   display: grid;
   width: 45%;
   display: block;
   justify-content: center;
   background-color: var(--color4);
   border-radius: 10%;
   align-content: space-between;
}

.hobbies-container figure {
   max-width: 100%;
   display: grid;
   justify-content: center;
   
}


/* This is the footer/contact section */
footer {
    margin: 20px 0px;
    position: relative;
    top: 150px;
}