

* {
    font-size: 16px;
}


:root {
    --backgroundColor1: black;
    --styleColor1: orange;
    --styleColor2: red;
    --color1: rgba(0, 16, 17, 1);
    --color2: rgba(9, 58, 62, 1);
    --color3: rgba(58, 175, 185, 1);
    --color4: rgba(100, 233, 238, 1);
    --color5: rgba(151, 200, 235, 1);
    }
    
h2 {
    font-family: Orbitron;
    font-size: 50px;
    text-align: center;
    margin: 100px 0px;
    margin-bottom: 30;
    color: var(--color3)
}

/* The header will be fixed to to top to improve navigation */

header {
    background-color: var(--backgroundColor1);
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-image: url("");
    align-items: center;
    position: fixed;
    top: -5px;
    width: 100%;
    z-index: 1;
}

nav {
    margin: 0 3%;
}


nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  height: 100%;
}

nav ul a {
    text-decoration: none;
    color:azure;
    height: 100%;
    font-family: Righteous;
}

nav ul a:hover {
    color: var(--styleColor2)
}

/* This is the QD logo at the top left corner of the our fixed header */

.logo-container {
    height: 100%
}

.logo {
    max-width:100%;
    max-height:100%;
    
}

/* Getting into the body's main section */

main {
    position: relative;
    top: 100px;
}




.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* This aspect of the about section should be on the left side contained in a bubble */

.about-content {
    width: 50%;
    margin: 0 30px;
    display: flex;
    align-items: center;
    min-height: 700px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    box-shadow: var(--color5);
    background-color: var(--color4);
    border-radius: 10%;
    border: 3px solid var(--color3) ;
    line-height: 1.5;
    flex-grow: 1;
}

.about-content p, .about-content ul {
    margin: 2% 7%;
    font-family: 'Josefin Sans';
    color:whitesmoke;
    flex-shrink: 1;
}

.main-photo {
    max-width: 40%;
    display: inline-block;
    margin: 20px 0px 20px 5%;
    border-radius: 20%;
    overflow: hidden;
}

.main-photo img {
    max-width: 100%;
    max-height: 100%;
}

.inline {
    display: inline-block;
    max-width: 40%;
    margin-left: 15px;
}

.inline br {
    line-height: 300px;
}

.block {
    display: block;
    margin-top: 10px 15px;
}

.about-content{
    background-image: url('./images/stars.png');
    
}

/* After resizing */

/* This part of the about section should be on the right side and will be contained in a bubble */

.hobbies-container {
   padding: 15px 0;
   display: grid;
   grid-row: 2;
   width: 45%;
   display: block;
   justify-content: center;
   background-image: url('./images/ryan-hutton-Jztmx9yqjBw-unsplash.jpg');
   background-position: center;
   flex-grow: 1;
   border-radius: 10%;
   border: 1px solid var(--color3) ;
   align-content: space-around;
   margin: auto 0px;
}


.hobbies-description h3{
   text-align: center;
}



.hobbies-container figure {
   max-width: 100%;
   display: grid;
   justify-content: center;
   margin: 20px auto;
   
}

.hobbies-container figure figcaption {
    margin: 10px 20px;
    color: whitesmoke;
    font-family: 'Josefin Sans';
    text-align: center;
}


.first-hobby{
    
    grid-row-start: 1;
    grid-row-end: 2;
}

.second-hobby {
    grid-row-start: 2;
    grid-row-end: 3;
}

.first-hobby iframe, .second-hobby video {
    margin: 10px auto;
}

/* This is the experience when screen size is  */


/* This is the job experience section */


.experience-container {

    margin: 20px 10px;
    min-height: 700px;
}


#experience figure {
  border: 2px solid var(--color3);

}

/* I want this to be displayed large and centered by itself */
.experience-figure-1 {
    width: 50%;
    margin: 10px auto;
    align-self: center;
    display: block;
}

/* Underneath the first website figure I want these 3 to line up spaced apart */
.experience-figures-small {
    display: flex;
    justify-content: space-between;
}

.experience-figures-small figure {

    max-height: 1000px;
}

#experience figure div {
    display: flex;
    justify-content: center;
    max-width: 100%;
    
    margin: 10px;
}

#experience figure figcaption {
    display: block;
    text-align: center;
    margin: 10px 0;
}

.experience-photo {
    max-width: 100%;
    max-height: 100%;
}


/* This is the footer/contact section */
footer {
    margin: 50px 0px;
    position: relative;
    top: 150px;
}

#contact {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

#contact div {
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: var(--color4);
    display: grid;
}

#contact div h3 {
    text-align: center;
    font-family: 'Josefin Sans';
    margin-top: 30px;
    font-size: 30px;
}

#contact div p {
    text-align: center;
    font-family: 'Josefin Sans';
}


